<!DOCTYPE html>
<html>

<head>
    <meta charset="utf8">
    <title>Flask demo poop</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>


<body>
<header>
    <h1>flask demo poopydoodoo</h1>

        <nav> 
            <a href="/">Home</a>  
        <a href="/demo">Demo dookie</a>   
        <a href="/thing/7">Thing 7</a> 
        <a href="/thing/67">thing 67</a> 
        <a href="/cats">cats</a> 

        </nav>
</header>

<main>
     {% block content %}
     {% endblock content %}
    </main>

</body>



<footer>
</footer>




</html>
