{% extends "pages/_base.jinja"%}

{% block content %}

    <h1>{{ cat.name }}'s profile!</h1>

    <img src="/static/images/{{ cat.image }}" alt="Picture of {{ cat.name }}">

    <p>{{ cat.name }} is sigma and has id: {{ cat.id }}</p>

{% endblock %}