{% extends "pages/_base.jinja" %}

{% block content %}

<h1>Hello, poop!</h1>
<p>this is a Flask and Jinja poopsite</p>
<h2>BINGUS:</h2>

<img src="/static/images/bingus.png" alt="bingus">

{% endblock %}