body {
    font-family: sans-serif;
    color: rgb(46, 15, 34);
    background-color: rgb(214, 141, 204);
    text-align: center;

    
}

header { 
    display: flex;
    background-color: rgb(255, 178, 255);
    padding: 1.5px;
    align-items: center;
    justify-content: space-around;
    font-weight: bolder;
    border-radius: 10rem;
    margin: 2px;
    border-bottom: 3px solid rgb(185, 114, 182);
    gap: 1rem;
    border: 5px solid rgb(145, 31, 120);
    width: 100%


}

    img {
        display: flex;
        align-items: center;
        width: 20%;
        border: 5px solid rgb(145, 31, 120);
        border-radius: 0.4rem;

    }
